<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya|Lato&display=swap"
      rel="stylesheet"
    />
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Cherry+Bomb|Solway&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="style.css" />
    <title>Week2 lab3</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>YUKI SUGAYA</h1>
        </div>
        <div class="menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main></main>

    <footer>
      <div class="hr"></div>
      <span>ca.ciccc WADP</span>
    </footer>
  </body>
</html>
