/* Color Hunt */
/* https://colorhunt.co/palette/165518 */

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Cherry Bomb', cursive; */
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* font-family: 'Solway', serif; */
  width: 100%;
  font-family: 'Alegreya', serif;
}

.hr {
  border-bottom: 1px solid #eee;
}
.border {
  border: 1px solid black;
}

/* ================================== */
header {
  width: 100%;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  line-height: 150px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin-right: 10px;
}

.menu ul li:last-child {
  margin-right: 0;
}

main {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  color: #6c7b95;
  text-align: center;
  background-color: #c7f0db;
}
