$main: #303481;
$sub: #d6e6f2;
$gray: #f5f5f5;
$yellow: #fff200;

// dark mode
$dark-main: #022c43;
$dark-sub-1: #053f5e;
$dark-sub-2: #115173;
$dark-yellow: #ffd700;

$black: #000000;
$white: #ffffff;