@import './colors';

@mixin flex-direction($display: flex, $justify-content: space-around, $flex-direction: row) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

.menu {
  @include flex-direction()
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
  text-align: center;
  background-color: $sub;
  li {
      display: block;
      width: 100%;
      height: 100%;
      list-style: none;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0 10px 0;
        color: $black;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
          color: $gray;
          background-color: $main;
      }
    }
  }
}

.menu-bar {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    @include flex-direction($flex-direction: column);
  }
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  .menu-bar {
    position: absolute;
    top: 25px;
    left: 30px;
    display: block;
  }
}