@media (prefers-color-scheme: dark) {
  body {
    color: #f5f5f5;
    background-color: #022c43;
  }
  header, footer {
    background-color: #022c43;
  }
  .menu {
    background-color: #053f5e;
  }
  footer {
    background-color: #115173;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  text-align: center;
  background-color: #d6e6f2;
}

.menu li {
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
}

.menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 0;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu li a:hover {
  color: #f5f5f5;
  background-color: #303481;
}

.menu-bar {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .menu-bar {
    position: absolute;
    top: 25px;
    left: 30px;
    display: block;
  }
}

header, footer {
  color: #f5f5f5;
  background-color: #303481;
}

header .logo, footer .logo {
  text-align: center;
}

.border {
  border: 1px solid black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

h1 {
  display: block;
  margin-top: 0.67em;
  margin-right: 0;
  margin-bottom: 0.67em;
  margin-left: 0;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  margin-top: 0.83em;
  margin-right: 0;
  margin-bottom: 0.83em;
  margin-left: 0;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-right: 0;
  margin-bottom: 1.33em;
  margin-left: 0;
  font-size: 1em;
  font-weight: bold;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

/* main */
main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.heading-image {
  text-align: center;
}

article img {
  width: 95%;
}

article p {
  line-height: 1.7;
}

/* aside */
aside img {
  width: 100%;
}

.side-article {
  padding: 5px;
  margin-bottom: 20px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

@media (max-width: 800px) {
  .menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
  }
  article {
    margin-bottom: 20px;
  }
  aside .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  footer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  aside .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */